.info-box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 50px;
  a{
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 600px) {
  .info-box {
    padding: 20px;
  }
}

